.newTask {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: -1.6rem auto 0;
    width: 100%;
}

.newTask input {
    background: var(--gray-500);
    color: var(--gray-100);
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    width: 90%;
    height: 3.375rem;
    line-height: 1.4;
    padding: 1rem;
}

.newTask input::placeholder {
    color: var(--gray-300);
}

.newTask button {
    background: var(--blue-dark);
    color: var(--gray-100);
    width: 10%;
    height: 3.25rem;
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: bold;
    cursor: pointer;
    border:0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem
}

@media only screen and (max-width: 768px) {
    .newTask input {
        width: 75%;
    }
    .newTask button {
        width: 25%;
    }
}

@media only screen and (max-width: 320px) {
    .newTask input {
        width: 65%;
    }
    .newTask button {
        width: 35%;
    }
}