.taskContainer {
    width: 46rem;
    margin: 0 auto;

}

.emptyTaskList {
    display: grid;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
    color: var(--gray-300);
}

.emptyTaskList svg {
    margin: 1rem auto;
}

.counter {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 4rem auto 2rem;
    
}

.counter span {
    font-size:.875rem;
    font-weight: bold;
    color: var(--purple);
}

.counter span:first-of-type {
    color: var(--blue);
}

.counter strong {
    font-size:.875rem;
    color: var(--gray-200);
    background: var(--gray-400);
    padding: 0.125rem 0.5rem;
    border-radius: 10rem;
    margin: 0 0.25rem;
}
.task {
    background: var(--gray-500);
    font-size: 0.875rem;
    font-weight:500;
    line-height: 1.4;
    border-radius: 8px;
    height: 4.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
}

.taskComplete {
    text-decoration: line-through;
    color: var(--gray-300);
}

.task button {
    background: transparent;
    color: var(--gray-300);
    border: 0;
    padding: 0.4rem 0.15rem 0.125rem 0.15rem;
    border-radius: 4px;
    transition: .1s ease-in-out background-color;
}

.task button:hover {
    background: var(--gray-400);
    color: var(--danger);
}

.taskContent {
    display: flex;
    justify-content: flex-start;
    gap: 0.75rem;
    align-items: center;
    border:0;
}

.taskContent input {
    display: none;
}

.taskContent label::after {
    box-sizing: border-box;
    content: '';
    display: block;
    width: 1.091rem;
    height: 1.091rem;
    border-radius: .7rem;
    border: 2px solid var(--blue);
    transition: .1s ease-in-out background-color;
}

.taskContent label:hover::after {
    border: 2px solid var(--blue-dark);
}

.taskContent input:checked + label::after {
    background-color: var(--purple-dark);
    border-color: var(--purple-dark);
    background-position: center center;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .1s ease-in-out background-color;
    background-image: url("data:image/svg+xml,%3Csvg width='10'   height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.43059 0.342154L4.09865 4.67409L1.61618 2.19162L0.780273 3.02753L4.09865 6.3459L9.26649 1.17806L8.43059 0.342154Z' fill='%23F2F2F2'/%3E%3C/svg%3E ");
}

.taskContent input:checked + label:hover::after {
    background-color: var(--purple);
    border-color: var(--purple);
}

